@using System.Security.Policy
@model List<AbcMovies.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Customers</h3>
<table>
    <thead>
        <tr>
            <th>@Html.ActionLink("Add New", "Save", "Customers", new { @class = "btn btn-primary" }) </th>
         
        </tr>
    </thead>
</table>


@if (!Model.Any())
{
    <p>We don't have any customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name,"Details","Customers",new{id = customer.Id},null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>
                    @Html.ActionLink("Edit","Edit","Customers", new { id = customer.Id }, null)|

                </td>
            </tr>
        }
        </tbody>
    </table>
}


