@model AbcMovies.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h4>@Model.Title</h4>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
<div class="form-group">
    @Html.LabelFor(m => m.Movie.Name)
    @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Movie.Name)
</div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Releasedate)
        @Html.TextBoxFor(m => m.Movie.Releasedate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Releasedate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
        </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>
    @Html.HiddenFor(m => m.Movie.DateAdded, new { @Value = DateTime.Now })
    @Html.HiddenFor(m => m.Movie.GenreId, 1)
    @Html.HiddenFor(m => m.Movie.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
<div>
   <br/>
    @Html.ActionLink("Back to List", "Index")
</div>